* {    
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 109px;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #000;
  
}

/*
.app {
  opacity: 1;
  animation: opp 1s 1;
}

@keyframes opp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

.tag {
  font-family: "Inconsolata", sans-serif;
  color: #32CD32;
  letter-spacing: 2px;
  margin-left: 4em;
}



/* ============= LOADER SCREEN ============= */



.preloader {
  color: #32CD32;
  font-family: 'Inconsolata', 'sans-serif';
  font-size: 1em;
  font-weight: 900;
  padding-top: 0.5em;
  padding-left: 0.5em;
  letter-spacing: 2px;
  transition: .5s;
}

.preLoaderCode::after {
  content: '_';
  animation-name: blink;
  animation-duration: 0.65s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


/* ============= /LOADER SCREEN ============= */




/* ======== NAVIGATION BAR ======== */


nav {  
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;
  padding: 0;
}

.logo {    
  color: #fff;
  margin: 0;
  padding: 0.3em 1.2em;
  cursor: pointer;  
  font-size: 1.4em;  
  width: 110px;
  height: 110px;
  border: 1px solid #fff;
  transform: scale(0.78);
  transition: 0.2s;
}

.logo:hover {
  box-shadow: 0px 5px 20px #32CD32;
}

.navigation {
  display: flex;
  margin: 0;
}

.navItem {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-decoration: none;
  cursor: pointer;
  transition: 500ms;
  margin-right: 3em;
}

.navItem:last-child {
  margin: 0;
}

.navItem::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #32CD32;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 500ms;
  box-shadow: 0px 2px 10px #32CD32;
}

.navItem:hover {
  color: #32CD32;
}

.navItem:hover::before {
  transform: scaleX(1);  
}



/* ======== /NAVIGATION BAR ======== */



/*=== MEDIA NAVBAR ===*/


.media-navbar {
  display: none;
}

#active {
  display: none;
}

.wrapper {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all .3s ease-in-out;
  z-index: 4;
}

#active:checked ~ .wrapper {
  clip-path: circle(100%);
}

#active:checked ~ .wrapper {
  opacity: 1;
}

label {
  transform: rotate(90deg);
}

#active:checked ~ label {
  transform: rotate(0deg);
}

.menu-btn {
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
  color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 2em 0;
}

.media-nav-item {
  color: none;
  text-decoration: none;
  font-size: 1.5em;
  color: #36dd44;
  border-radius: 50px;
  position: relative;
  transition: all .3s ease;
}

.media-nav-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #32CD32;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transition: 500ms;
  box-shadow: 0px 2px 10px #32CD32;
}

.media-nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #32CD32;
  left: 0;
  top: -5px;
  transform: scaleX(0);
  transition: 500ms;
  box-shadow: 0px 2px 10px #32CD32;
}

.media-nav-item:hover::after {
  transform: scaleX(1);  
}

.media-nav-item:hover::before {
  transform: scaleX(1);  
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

@keyframes rotate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}



/* ======== HEADER ======== */



header {
  color: #fff;
}

.banner {
  height: 95vh;
}

.bannerText {
  max-width: 550px;
  margin: auto;
  position: absolute;
  left: 20%;
  top: 40%;
  transform: scale(1.1);
}

.bannerText:hover .important {
  color: #32CD32;
}

.greeting {
  background-image: linear-gradient(to right, #000, transparent);
  font-family: 'Inconsolata', 'sans-serif';
  font-weight: 500;
  font-size: 2.6em;
  margin-bottom: .3em;
  padding: 0 .5em;
}

.important {
  font-family: 'Inconsolata', 'sans-serif';
  font-weight: 300;
  transition: .4s;
}

.cvBtn {
  background-color: #07000a;
  color: #fff;
  font-family: 'Inconsolata';
  font-size: 1.4rem;
  font-weight: 900;
  border: 1px solid #fff;
  border-radius: 8px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: .5;
  transition: 0.4s;
  padding: .65em 5.5em;
  display: inline-block;
  position: absolute;
  bottom: -8%;
  right: -20%;
}

.cvBtn:hover {
  background-color: #000;
  color: #32CD32;
  border: 1px solid #32CD32;
  box-shadow: 5px 5px 15px #32CD32;
  scale: 1.05;
  opacity: .9;
}

.cvBtn:active {
  scale: 0.95;
}



/* ================ ABOUT ME ================ */



.about {
  background-color: #000;
  padding: 2em 0;
}

.aboutArticleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em auto;
  max-width: 800px;
  padding: 2em 4em;
}

.aboutMeArticle {
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 1.3em;
  margin-right: 1em;
}

.aboutP {
  line-height: 2em;
}

.aboutP:last-child {
  margin-top: .5em;
}

.linkLogo {
  background-color: #fff;
  cursor: pointer;
  transition: .3s;
  margin-left: 1em;
  width: 40px;
  margin-bottom: 1.3em;
}

.linkLogo:hover {
  background-color: #2add39;
}



/* ================ /ABOUT ME ================ */



/* ================ SKILLS ================ */



.skills {
  background-color: #000;
  color: #fff;
  padding: 2em 0;
}

.logoDiv {
  border: 2px solid #111;
  max-width: 70vw;
  margin: 2em auto;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .4s;
  height: 120px;
}

.logoDiv:hover {
  border: 2px solid #fff;
}

.logoDiv p {
  opacity: .5;
}

.logoDiv:hover p {
  opacity: 1;
}

.progLogo {
  cursor: pointer;
  filter: brightness(.3);
  transition: .5s;
}

.logoDiv:hover .progLogo {
  filter: brightness(1.2);
}

/*=
-----HTML-----
=*/

.html {
  max-height: 110px;
  margin-left: 1.6em;
  
}

.htmlP {
  margin-left: 2.4em;
  width: 10ch;
  letter-spacing: 2px;
}

.htmlDiv:hover .htmlP {
  overflow: hidden;
  white-space: nowrap;
  animation: typeWritter 3s infinite steps(8), flashingBorder .7s infinite;
}

@keyframes  flashingBorder {
  from {border-right: 3px solid white;}
  to {border-right: 3px solid transparent;}
}


@keyframes typeWritter {
  0% {
    width: 0ch;
  }
  100% {
    width: 10ch;
  }
}

/*=
-----CSS-----
=*/

.css {
  margin-left: 2.1em;
  max-height: 110px;
  
}

.cssP {
  margin-left: 2.9em;
  display: flex;
  transition: .5s;
  padding: 0 0.2em;
}

.c, .s, .s2 {transition: .5s;}

.cssDiv:hover .c {
  animation: jump 1s infinite;
  animation-timing-function: ease-out;
}

.cssDiv:hover .s {
  animation: jump 1s infinite;
  animation-timing-function: ease-in-out;
}

.cssDiv:hover .s2 {
  animation: jump 1s infinite;
  animation-timing-function: ease-in;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*=
-----JS-----
=*/

.js {
  max-height: 105px;
  margin-left: 1.5em;
  z-index: 1;
}

.jsP {
  margin-left: 2.6em;
  display: flex;
}

.afterS::after {
  content: 'S';
  transition: .5s;
}

.jsDiv:hover .afterS::after {
  animation: missingLetter 4.5s infinite ease-out;
}

@keyframes missingLetter {
  0% {
    position: absolute;
    transform: translate(-95px, 0);
  }
  10% {transform: translate(-88px, -25px);}
  15% {transform: translate(-81px, 0px);}
  20% {transform: translate(-74px, -25px);}
  25% {transform: translate(-60px, -16px);}
  30% {transform: translate(-50px, -30px);}
  35% {transform: translate(-40px, -13px);}
  39% {transform: translate(-30px, -30px);}
  45% {transform: translate(-20px, -13px);}
  50% {transform: translate(-5px, -35px);}
  55% {transform: translate(-5px, -13px);}
  60% {transform: translate(-5px, -35px);}
  66% {transform: translate(-5px, -13px);}
  73% {transform: translate(-5px, -43px);}
  77% {
    position: absolute;
    transition: .5s;
    transform: translate(-5px, -14px);
  }
  80% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
  100% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
}

@keyframes mediaMissingLetter {
  0% {
    position: absolute;
    transform: translate(-95px, 0);
  }
  10% {transform: translate(-88px, -25px);}
  15% {transform: translate(-81px, 0px);}
  20% {transform: translate(-74px, -25px);}
  25% {transform: translate(-60px, 0px);}
  30% {transform: translate(-50px, -30px);}
  35% {transform: translate(-40px, -13px);}
  39% {transform: translate(-30px, -30px);}
  45% {transform: translate(-20px, -13px);}
  50% {transform: translate(-5px, -35px);}
  55% {transform: translate(-5px, -13px);}
  60% {transform: translate(-5px, -35px);}
  66% {transform: translate(-5px, -13px);}
  73% {transform: translate(-5px, -43px);}
  77% {
    position: absolute;
    transition: .5s;
    transform: translate(-5px, -14px);
  }
  80% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
  100% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
}

@keyframes scndMediaMissingLetter {
  0% {
    position: absolute;
    transform: translate(-75px, 0);
  }
  10% {transform: translate(-70px, -25px);}
  15% {transform: translate(-60px, 0px);}
  22% {transform: translate(-50px, -30px);}
  32% {transform: translate(-40px, -13px);}
  39% {transform: translate(-30px, -30px);}
  45% {transform: translate(-20px, -13px);}
  50% {transform: translate(-5px, -35px);}
  55% {transform: translate(-5px, -13px);}
  60% {transform: translate(-5px, -35px);}
  66% {transform: translate(-5px, -13px);}
  73% {transform: translate(-5px, -43px);}
  77% {
    position: absolute;
    transition: .5s;
    transform: translate(-5px, -14px);
  }
  80% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
  100% {
    transform: translate( -3px, 0px);
    position: inherit;
  }
}

/*=
-----REACT-----
=*/

.react {
  max-height: 120px;
}

.reactP {
  margin-left: 1.3em;
}

.reactDiv:hover .react {
  animation: 3s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* ================ /SKILLS ================ */



/* ================ PROJECTS ================ */



.projects {
  background-color: #000;
  color: #fff;

}

.projects p {
  margin: 5em auto;
  width: 800px;

}



/* ================ /PROJECTS ================ */



/*
=============== OTHER ===============
*/



::-webkit-scrollbar {
  width: 0px;
  transition: 500ms;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 5px #2add39;
}

::-webkit-scrollbar-thumb {
  background: #000;
  box-shadow: inset 0 0 8px #2add39;
  border: 1px solid #fff;
}

::-webkit-scrollbar-button {
  box-shadow: inset 0px 10px 5px #2add39;
  background: #fff;
}



h1::selection,
h2::selection,
h3::selection,
a::selection,
span::selection,
br::selection,
button::selection,
p::selection {
  background-color: #111;
  color: #2add39;
}



@keyframes floatUp {
  0% {top: -100vh; opacity: 0;}
  25% {opacity: 1;}
  50% {top: 0vh; opacity: .8;}
  75% {opacity: 1;}
  100% {top: 100vh; opacity: 0;}
}

@keyframes floatDown {
  0% {top: 100vh; opacity: 0;}
  25% {opacity: 1;}
  50% {top: 0vh; opacity: .8;}
  75% {opacity: 1;}
  100% {top: -100vh; opacity: 0;}
}

.codeNums {
  position: fixed;
  width: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  color: #32CD32;
  word-wrap: break-word;
  font-size: 2.3em;
  z-index: -1;
}

.n1 {
  animation: floatDown 4s infinite linear;
  transform: scale(1.0);
}

.n2 {
  animation: floatDown 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.n3 {
  animation: floatUp 2.9s infinite linear;
  transform: scale(.9);
  left: -15%;
}

.n4 {
  animation: floatDown 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.n5 {
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.n6 {
  animation: floatDown 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}

.n7 {
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.n8 {
  animation: floatDown 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.n9 {
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}


.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #2add39 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: fixed;
  z-index: -1;
}

.l1 {
  animation: floatDown 4s infinite linear;
  transform: scale(1.0);
}

.l2 {
  animation: floatDown 7s infinite linear;
  transform: scale(1.6);
  left: 18%;
}

.l3 {
  animation: floatUp 2.9s infinite linear;
  transform: scale(.9);
  left: -13%;
}

.l4 {
  animation: floatDown 4.5s infinite linear;
  transform: scale(1.2);
  left: -32%;
}

.l5 {
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -55%;
}

.l6 {
  animation: floatDown 3s infinite linear;
  transform: scale(.8);
  left: -79%;
}

.l7 {
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 39%;
}

.l8 {
  animation: floatDown 4.7s infinite linear;
  transform: scale(1.7);
  left: 64%;
}

.l9 {
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 87%;
}



/*
==================== MEDIA ====================
*/



@media (max-width: 900px) {
  .tag {
    margin-left: 1.5em;
  }
}


@media (max-width: 775px) {

  /*----------- @MEDIA NAVIGATION MENU -----------*/
  
  nav {
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: none;
  }

  .media-navbar {
    display: inline;
  }
  
  /*----- @MEDIA HEADER -----*/
  
  .banner {
    height: 90vh;
  } 
  
  .bannerText {
    font-size: 0.9rem;
    transform: scale(1);
    left: 15%;
  }
  
  .cvBtn {
    font-size: 1.2rem;
    padding: .65em 5em;
    bottom: 0;
    right: -13%;
  }
  
  /*----- @MEDIA ABOUT SECTION -----*/


  /*----- @MEDIA Back-Animation -----*/
   
 .n1, .l1 {
    display: none;
  }  

 .n4, .l4 {
    display: none;
  }

 .n7, .l7 {
    display: none;
 }

}

@media (max-width: 620px) {
  .cvBtn {
    font-size: 1.1rem;
    padding: .6em 4.5em;
    right: 20%;
    bottom: -30%;
  }

  .aboutMeArticle {
    font-size: .9rem;
  }

  .logoDiv {
    font-size: 1rem;
  }

  .cssP {
    margin-left: 3.9em;
  }
  
  .jsP {
    margin-left: 3.3em;
  }

  .jsDiv:hover .afterS::after {
    animation: none;
    animation: mediaMissingLetter 4.5s infinite ease-out;
  }
  
}

@media (max-width: 480px) {
  .logoDiv {
    height: 100px;
  }
  
  .progLogo {
    height: 80px;
  }
  
  .cssP {
    margin-left: 3em;
  }

  .jsP {
    margin-left: 2.3em;
  }

  .jsDiv:hover .afterS::after {
    animation: scndMediaMissingLetter 4.5s infinite ease-out;
  }

}

@media (max-width: 380px) {
  .logoDiv {
    font-size: .8rem;
    height: 90px;
  }
  
  .progLogo {
    height: 70px;
  }
}

@media (max-width: 300px) {

  .cvBtn {
    right: 5%;
  }

  .jsDiv:hover .afterS::after {
    animation: none;
  }

  .logoDiv {
    font-size: .75rem;
    height: 80px;
  }
  
  .progLogo {
    height: 60px;
  }
}

@media (max-width: 280px) {

  .logoDiv {
    font-size: .6rem;
    height: 70px;
  }
  
  .progLogo {
    height: 50px;
  }
}

@media (max-width: 260px) {

  .cvBtn {
    scale: .9;
  }

  .linkLogo {
    display: none;
  }

  .logoDiv {
    font-size: .5rem;
    width: 190px;
  }
}


